#root {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.foto{
  border-radius: 50%;
  margin-bottom: 150px;
}
button{
  min-width: 500px;
  min-height: 80px;
}